<section>
  <ul>
    <li>
      <img src="<%=book.image_url%>" alt="">
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
      <p><%= book.description %></p>
      <p>ISBN: <%= book.isbn %></p>
      <p>Bookshelf: <%= book.bookshelf %></p>
    </li>
  </ul>
</section>