<section>
  <ul>
    <li>
      <h3>Book: <%= book.title %></h3>
        <p>Desc: <%= book.description %></p>
      <p>Author: <%= book.author %></p>
      <p>isbn: <%= book.isbn %></p>
      <p>bookshelf: <%= book.bookshelf %></p>
    </li>
  </ul>
</section>
