<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/head'); -%>
</head>

<body>
  <h1>Book list</h1>
  <p><a href="/">Home</a></p>
  <ul>
    <% arrItems.forEach(item => { %>

      <img src="<%=item.image%>" />
      <li><%= item.title %></li>
      <li><%= item.author %></li>
      <li><%= item.description %></li>
      <form action="/books" method="post">
        <input name="title" value="<%= item.title %>" type="hidden">
        <input name="author" value="<%= item.author %>" type="hidden">
        <input name="isbn" value="<%= item.isbn %>" type="hidden">
        <input name="description" value="<%= item.description %>" type="hidden">
      <button>add book to database</button>
    </form>
    <% }) %>
  </ul>
</body>

</html>