<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head'); -%>
</head>
<body>
  <h1>Book list</h1>
  <p><a href="/">Home</a></p>
  <ul>
    <li><% console.log(arrItems) %></li>
    <% arrItems.forEach(item => { %>
    <img src="<%=item.image%>"/>
    <li><%= item.title %></li>
    <li><%= item.author %></li>
    <li><%= item.description %></li>
    <% }) %>
  </ul>
</body>

</html>