<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); -%>
</head>

<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <h2>My Books (<%=results.length %>)</h2>
  <ul>
    <% results.forEach(book => { %>
    <li>
      <h3><%= book.title %></h3>
      <p>by <%= book.author %></p>
      <p>bookshelf: <%= book.bookshelf %></p>
      <a href="/books/<%= book.id %>">View Details</a>
    </li>
    <% }) %>
  </ul>

  <footer></footer>
</body>

</html>