<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head'); -%>
</head>

<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <h2>Saved books (<%=results.length %>)</h2>
  <ul>
    <% results.forEach(book => { %>
    <li id="book">
      <img src="<%= book.image_url %>">
      <h3><%= book.title %></h3>
      <p >by <%= book.author %></p>
      <p>bookshelf: <%= book.bookshelf %></p>
      <button class="view"><a href="/books/<%= book.id %>">View Details</a></button>
    </li>
    <% }) %>
  </ul>
  

  <footer></footer>

</body>

</html>